.day-time {
    background: #D1913C;  
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C); 
    background: linear-gradient(to right, #FFD194, #D1913C); 
}

.night-time {
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033); 
} 

h3 {
    text-align: center;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 28px;
}

p {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

span {
    margin-right: 30px;
}

.heading {
    width: 300px;
    height: 400px;
    border: 3px groove black;
    background-color: darkcyan;
    color: white;
    line-height: 1em;
}

.status-container {
    font-family: monospace;
    width: 300px;
    position: absolute;
    margin-top: 0em;
}

.emoji {
    width: 75px;
    height: auto;
}

.emoji:hover {
    opacity: 50%;
}

.status-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.status {
    border-radius: 10px;
    border: 1px groove black;
    width: 270px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: black;
    background-color: rgb(58, 161, 58);
}

.canvas-container {
    width: 400px;
}

#canvas {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: none;
    background-color: cadetblue;
}

#pet-awake {
    width: 150px;
    height: auto;
 
}

.heading-canvas {
    display: flex;
    justify-content: center;
    margin-top: 50px;;
}

.toy-box1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.toy-box2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 50px;;
}


.time-display2 {
    display: flex;
    width: 709px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    color: indigo;
}

#message {
    display: flex;
    width: 709px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
    color: indigo;
}

.storepet {
    width: 140px;
    height: 35px;
    border-radius: 10px;
    font-family: monospace;
    background-color: lightblue;
    color: black;
}

.new {
    margin-bottom: 5px;
    margin-left: 10px;
}


.icon-container {
    margin-top: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    background: darkgray;
    opacity: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
}

.icon {
    height: 30px;
    width: auto;
    opacity: 80%;
}

.bottom-label{
    width: 400px;
    padding: 6px;
}


/*******MEDIA QUERY FOR PHONES******/

/* Portrait and Landscape */
@media only screen and (max-device-width: 736px) { 

    body{
        width: 375;
        height: 670px;
    }

    h3 {
        display: none;
    }
    
    p {
        display: none;
    }
    
    span {
        display: none;
        }
    
    .heading {
        display: none;
    }
    
    .status-container {
        font-family: monospace;
        width: 300px;
        position: absolute;
        margin-top: 0em;
    }
    
    .emoji {
        width: 60px;
        height: auto;
    }
    
    .emoji:hover {
        opacity: 50%;
    }
    
    .status-container {
        display: flex;
    }
    
    .status {
        border-radius: 10px;
        border: 1px groove black;
        width: 170px;
        height: 25px;
        margin-left: 10px;
        margin-top: 2px;
        text-align: center;
        font-family: monospace;
        font-size: 10px;
        color: black;
        background-color: rgb(58, 161, 58);
    }
    
    .canvas-container {
        width: 300px;
    }
    
    #canvas {
        width: 300px;
        border: 2px solid black;
        border-radius: 50%;;
    }
        
    .toy-box1 {
        display: none;
        }
    
    .toy-box2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 10%;
        text-align: center;
    }
    
    
    .time-display2 {
        display: flex;
        width: 100px;
        margin: 0 auto;
        font-size: 13px;
        font-family: 'Lexend Tera', sans-serif;
        color: indigo; 
    }
    
    #message {
        display: flex;
        width: 350px;
        text-align: center;
        font-size: 15px;
        font-family: 'Lexend Tera', sans-serif;
        color: indigo;
    }
    
    .storepet {
        width: 140px;
        height: 35px;
        border-radius: 10px;
        font-family: monospace;
        background-color: lightblue;
        color: black;
    }
    
    .new {
        margin-bottom: 5px;
        margin-left: 10px;
    }
    
    
    .icon-container {
        margin-top: 45px;
        height: 30px;
        display: flex;
        justify-content: center;
        background: darkgray;
        opacity: 80%;
        font-family: Arial, Helvetica, sans-serif;
        color: indigo;
    }
    
    .icon {
        height: 30px;
        width: auto;
        opacity: 80%;
    }
    
    .bottom-label{
        width: 400px;
        padding: 6px;
    }
    


}
